body {
    background-color: #f5f6fa;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    .col1 {
        float: left;
        position: relative;
        z-index: 999;
        width: 17%;
    }
    .col2 {
        float: left;
        width: 83%;
    }
}

.sidebar {
    background-color: #fff;
    min-height: 100vh;
    .section-top {
        background-color: #2c2c2c;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
    .logo {
        display: block;
        margin: 0 auto;
        padding-top: 24px;
        width: 40%;
    }
    .user {
        color: #fff;
        padding: 16px;
        font-size: 1.2rem;
    }
    .main {
        margin-top: 10px;
        ul {
            padding: 0;
            li {
                margin-bottom: 4px;
                a {
                    color: #8998ac !important;
                    display: block;
                    font-size: 1.1em;
                    padding: 12px 16px;
                    text-decoration: none;
                    i {
                        margin-right: 10px;
                    }
                    &:hover {
                        background-color: #2c2c2c;
                        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
                        color: #fff !important;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.navbar {
    background-color: #2c2c2c;
    a {
        color: #fff !important;
    }
}

.page {
    padding-top: 16px;
    padding-bottom: 16px;
    .breadcrum {
        background-color: #fff;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.10) !important;
        list-style: none;
        .breadcrum.item {
            a {
                text-decoration: none!important;
                &:hover {
                    text-decoration: none!important;
                }
            }
        }
    }
}

.panel {
    background-color: #fff;
    border-radius: 6px;
    border-bottom: 2px solid #2c2c2c;
    width: 100%;
    .header {
        border-bottom: 1px solid #e8e8e8;
        padding: 16px;
        h2.title {
            display: block;
            color: #19213d;
            font-size: 1.1em;
            padding: 12px 16px;
        }
    }
    .inside {
        padding: 16px;
    }
}
